.invalid-feedback,
.valid-feedback {
    display: block !important;
}

input[type="text"],
textarea {
    color: black !important;
}

.settings-buttons {
    .boton {
        margin-bottom: 20px;
    }
    .text {
        * {
            color: white;
        }
    }
}

form {
    &.video {
        h6 {
            color: white;
            font-weight: bold;
            padding-bottom: 4px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            font-size: 15px;
            padding-left: 20px;
            padding-top: 12px;
            height: 110px;
            border: none;
            border-radius: 5px;
            resize: none;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            height: auto;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}

.modal .product__item {
    background-color: #4f494b;
    padding: 10px;
    border-radius: 20px;
}
.search-model-form {
    #search-input {
        color: white !important;
    }
    .btn-light {
        color: #212529 !important;
        background-color: #f8f9fa !important;
        border-color: #f8f9fa !important;
    }
}
.table-users,
.table-videos {
    .actions {
        * {
            margin-left: 10px;
            cursor: pointer;
        }
        .info,
        .edit,
        .delete {
            color: white;
            transition: color 0.2s;
            &:hover {
                color: skyblue;
            }
        }
        .edit:hover {
            color: greenyellow;
        }
        .delete:hover {
            color: red;
        }
    }
}
.seach-user {
    label {
        color: white;
        font-weight: bold;
    }
    input,
    .form-check-inline {
        margin: 0 20px;
    }
}
.check-role {
    color: white;
    text-transform: capitalize;
    margin-left: 10px;
    margin-bottom: 10px;
}
